<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="tushar">
      <img src="assets/img/TeLlevoApp_preview_rev_1.png" alt="Descripción de la imagen" class="esquina-superior-izquierda">
    </div>
    <div class="tushar2">
      <img src="assets/img/logo.png" alt="Descripción de la imagen" class="esquina-superior-izquierda">
    </div>
    <div class="centro">
      <p class="texto-esquina-superior-derecha">ERROR 404</p>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-img class="tushi" src="assets/img/error404.png"  alt="TUSHARTEST"></ion-img>
</ion-content>
<ion-button [routerLink]="['/home']" class="tushi2">Volver</ion-button>