<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<div id="container">
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">recuperar</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-input label="Usuario" labelPlacement="stacked" placeholder="Ingrese Usuario"></ion-input>
    </ion-item>
  </ion-list>
    <!-- se crea una clase para poder modificarlo y se le pone button a los lados para que el estilo se pueda poner mejor-->
     <button ion-button [routerLink]="['/login']" class="btn">Ingresar</button>
  </ion-content>
</div>
