.btn{
  background-color: var(--ion-color-secondary-shade);
  color: white;
  padding: 20px 30px 20px 30px;
  text-align: center;
  position: absolute;
  border-radius: 10px;
  font-size: 20px;
}

#container{
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 36%;
  transform: translateY(-50%);
}

.tushar {
  position: relative;
  max-width: 800px; 
  margin: 0 auto; 
  position: absolute;
  top: 0;
  right: 0;
}

.tushar2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px; 
  height: auto; 
}

.texto-esquina-superior-derecha {
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px; /* Ajusta según tus necesidades */
}

.tushi2 {
  margin: 0 auto; /* Esto centrará horizontalmente el botón */
  text-align: center; /* Esto centrará el texto dentro del botón */

}
