<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="tushar">
      <img src="assets/img/TeLlevoApp_preview_rev_1.png" alt="Descripción de la imagen" class="esquina-superior-izquierda">
    </div>
    <div class="tushar2">
      <img src="assets/img/logo.png" alt="Descripción de la imagen" class="esquina-superior-izquierda">
    </div>
    <div class="centro">
      <p class="texto-esquina-superior-derecha">Viajes</p>
    </div>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of viaje">
        <ion-card >
          <ion-card-header>
            <ion-label>PATENTE: {{ item.patente }}</ion-label>
        <ion-label>HORA: {{ item.hora }} hrs</ion-label>
        <ion-label>COSTO: ${{ item.costo }}</ion-label>
        <ion-label>PASAJEROS: {{ item.capacidad }} Pasajeros</ion-label>
        <ion-label>DESTINO: {{ item.destino }}</ion-label>
        <ion-label>DUEÑO: {{ item.duenno }}</ion-label>
          </ion-card-header>

          <ion-card-content> 
            <!-- <ion-img class="tushi" src="assets/img/tushar3.png"  alt="TUSHARTEST"></ion-img> -->
            <ion-img class="tushi" src="{{item.url_imagen}}"></ion-img>
        </ion-card-content>

          <ion-button fill="outline" color="color" (click)="seleccionarViajeYEnviarCorreo(item)">Seleccionar Viaje</ion-button>
          <!-- <ion-item *ngFor="let item of viaje">
            <ion-button fill="outline" color="color" (click)="descontar(item)">descontar</ion-button>
          </ion-item> -->
        </ion-card>
      </ion-item>
    </ion-list>
    <ion-button fill="outline" color="color" (click)="logout()">Salir</ion-button>
    <ion-text *ngIf="viaje.length === 0" color="warning">
      No se encontraron datos de viaje.
    </ion-text>
  </ion-content>
