.tushar {
    position: relative;
    max-width: 800px; 
    margin: 0 auto; 
    position: absolute;
    top: 0;
    right: 0;
  }

  .tushar2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px; 
    height: auto; 
  }

  .texto-esquina-superior-derecha {
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px; /* Ajusta según tus necesidades */
  }