.btn{
  background-color: var(--ion-color-secondary-shade);
  color: white;
  padding: 20px 30px 20px 30px;
  border-radius: 10px;
  font-size: 20px;
}

#container{
  text-align: center;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 34%;
  transform: translateY(-50%);
}

#avatar{
margin: auto;
width: 500px;
height: 200px;
}

#containers {
text-align: center;
position: absolute;
left: 0;
right: 0;
top: 50%;
transform: translateY(-50%);
}