// border-radius -> para cortar los bordes del boton  font-size engrandar el contenido del boton
.btn{
  background-color: var(--ion-color-secondary-shade);
  color: white;
  padding: 20px 30px 20px 30px;
  border-radius: 10px;
  font-size: 20px;
}

#container{
  text-align: center;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

