<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
   <!-- se crea una clase para poder modificarlo y se le pone button a los lados para que el estilo se pueda poner mejor-->
    <button ion-button [routerLink]="['/login']" class="btn">login</button>
  </div>
</ion-content>
