<meta name="viewport" content="width=device-width, initial-scale=1">
<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="logoql">
      <img src="assets/img/logo.png" alt="Descripción de la imagen 1">
    </div>
  </ion-toolbar>
  
</ion-header>


<ion-content [fullscreen]="true">

  <ion-segment [(ngModel)]="segment" color="primary">
    <ion-segment-button value="crear">
      <ion-label>bienvenido</ion-label>
    </ion-segment-button>
    <ion-segment-button value="login">
      <ion-label>iniciar sesion</ion-label>
    </ion-segment-button>
  </ion-segment>
  <mat-icon>home</mat-icon>

  <div id="containers">
    <ion-avatar id="avatar" #avatar>
      <ion-img class="tushi" src="assets/img/taxi.png"  alt="TUSHARTEST"></ion-img>
      
    </ion-avatar>
  </div>
  

  <div *ngIf="segment === 'login'">
    <div id="container">
      <ion-list>
        <div id="logoql2" color="primary">
          <img src="assets/img/TeLlevoApp_preview_rev_1.png" alt="Descripción de la imagen 2">
        </div>
        <ion-item>
          <ion-input label="Usuario" matInput [(ngModel)]="credentials.username" required labelPlacement="stacked" placeholder="Ingrese usuario"
            maxlength="8" minlength="3"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Password" matInput [(ngModel)]="credentials.password" required labelPlacement="stacked"
            placeholder="Ingrese contraseña" type="Password" maxlength="8" minlength="3"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Recuérdame</ion-label>
          <ion-toggle aria-label="Success toggle" color="success" [(ngModel)]="recordarCredenciales">Recuérdame</ion-toggle>
        </ion-item>

        <ion-item>
          <a [routerLink]="['/recuperar']">Recuperar Contraseña</a>
        </ion-item>


        <ion-item>
          <ion-button (click)="entrar()">Ingresar</ion-button>
          <div *ngIf="loginerror" class="error-message" style="color: red;">
            Credenciales incorrectas. Verifica tu usuario y contraseña.
          </div>
        </ion-item>
      </ion-list>
  
    </div>
  </div>


  

</ion-content>

